<footer class="text-center text-lg-start bg-dark text-white">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Knowledge Hub Portal</h5>

        <p>
          Explore, Learn, and Share Knowledge with our community.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">Quick Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Home</a>
          </li>
          <li>
            <a href="#!" class="text-white">Create Category</a>
          </li>
          <li>
            <a href="#!" class="text-white">List Category</a>
          </li>
          <li>
            <a href="#!" class="text-white">Submit Article</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">Contact</h5>

        <p>
          <i class="fas fa-home me-3"></i> New York, NY 10012, US
        </p>
        <p>
          <i class="fas fa-envelope me-3"></i> info example.com
        </p>
        <p>
          <i class="fas fa-phone me-3"></i> + 1 234 567 89
        </p>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">KnowledgeHubPortalWeb.com</a>
  </div>
</footer>
